@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --text-color: #fff;
  --jetbrains: 'JetBrains Mono', sans-serif;

  --font-weight-medium: 400;
  --font-weight-bold: 700;
  
  --size-title: 1.4rem;
  --size-paragraph: 1rem;
  --size-code: .8rem;

  --bg-color: rgb(13, 17, 23);
  --bg-code-color: rgb(22, 27, 34);
  --primary-color: rgb(89, 168, 214);

  --correct-color: rgb(149, 255, 132);
  --error-color: rgb(255, 132, 132);

  --padding-title: 0.625rem;
  --radius: 0.5rem;

  --gap-sm: 1.5rem;
  --gap-lg: 2.625rem;

  --border-default: 0.125rem solid var(--primary-color);
  --border-correct: 0.125rem solid var(--correct-color);
  --border-error: 0.125rem solid var(--error-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;

  color: var(--text-color);
  font-family: var(--jetbrains);
  background-color: var(--bg-color);
}

.grid { display: grid; }
.flex { display: flex; }

.container {
  row-gap: var(--gap-lg);
}

#info {
  position: absolute;
  top: 0;
  right: 0;

  padding: var(--padding-title);
  margin: var(--gap-lg);

  align-items: center;
  column-gap: var(--gap-sm);
}

.header {
  row-gap: var(--gap-sm);
}
.title {
  width: fit-content;
  padding: var(--padding-title);

  font-weight: var(--font-weight-bold);
  font-size: var(--size-title);

  background-color: var(--bg-code-color);
  border-radius: var(--radius);
}
.description {
  width: min(50vw, 47.5rem);
  font-size: var(--size-paragraph);
  font-weight: var(--font-weight-medium);
}

.content {
  gap: var(--gap-lg);
}
.editor_preview {
  padding: var(--padding-title);

  width: min(38vw, 50rem);
  height: min(54vh, 33.75rem);

  background-color: var(--primary-color);
  border-radius: var(--radius);
}
.editor_code {
  padding: var(--padding-title);

  width: min(38vw, 37.5rem);
  height: min(42vh, 25rem);

  font-size: var(--size-code);

  background-color: var(--bg-code-color);
  border-radius: var(--radius);
  border: var(--border-default);

  outline: 0;
}

.editor_code.correct {
  border: var(--border-correct);
}
.editor_code.error {
  border: var(--border-error);
}

#editor_run {
  color: var(--text-color);

  font-size: var(--size-paragraph);
  background-color: var(--bg-code-color);

  border-radius: var(--radius);
  border: 0;

  padding: var(--padding-title);
  transition: all 100ms ease-in-out;
}
#editor_run:hover {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

#editor_run.sucess {
  color: var(--bg-color);
  background-color: var(--correct-color);
}
#editor_run.fail {
  color: var(--bg-color);
  background-color: var(--error-color);
}

#container_md {
  display: none;
  position: absolute;

  width: 100%;
  height: 100vh;

  place-items: center;

  background-color: rgba(13, 17, 23, 0.5);
}
#container_md.active {
  display: grid;
}

#md {
  flex-direction: column;
  justify-content: space-between;

  width: min(38vw, 50rem);
  height: min(42vh, 25rem);

  padding: var(--padding-title);

  background-color: var(--bg-code-color);
  border-radius: var(--radius);

  box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.31);
  -webkit-box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.31);
}

.close_md {
  color: var(--text-color);

  font-size: var(--size-paragraph);
  background-color: var(--primary-color);

  border-radius: var(--radius);
  border: 0;

  padding: var(--padding-title);
  transition: all 100ms ease-in-out;
}

@media (max-width: 1080px) {
  body.fullscreen {
    overflow: hidden;
  }

  .container {
    margin: var(--gap-sm);
  }
  .content {
    flex-direction: column;
    align-items: center;
  }

  #info {
    position: relative;
    margin: var(--gap-lg) 0 0 0;
    padding: 0;
  }

  .description {
    width: 80vw;
  }

  .editor_preview, .editor_code {
    width: 100%;
  }
  #editor_run {
    margin: 0 0 var(--gap-lg) 0;
  }

  #container_md.active {
    overflow: hidden;
  }
  #md {
    width: 90%;
    height: 60%;
  }
}