:root {
  --dark: #0D1117;
  --white: rgb(201 209 217);
  --inter: 'Inter', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--inter);
}

a {
  color: rgb(88 166 255);
  text-decoration: none;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}

.content {
  justify-items: center;
  gap: 5rem;
}

header {
  text-align: center;
}
header > img {
  width: 90%;
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-color: gray;
  border-spacing: 0;

  margin-inline: 1rem;
}
table tr {
  border-top: 1px solid rgb(33 38 45);
}
table tr:nth-child(2n) {
  background-color: rgb(22 27 34);
}
table th {
  padding: .5rem .8rem;
  border: 1px solid rgb(48 54 61);
  font-weight: 600;
}
table td {
  padding: .6rem .8rem;
  border: 1px solid rgb(48 54 61);
}
table td:hover a {
  text-decoration: underline;
}

footer {
  padding: .4rem .5rem;
  border-radius: .4rem;
  transition: all 150ms ease-in-out;
}
footer:hover {
  background-color: rgb(22 27 34);
}

footer > a img {
  width: 2.5rem;
  height: auto;
}